*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.monse{
    font-family: "Montserrat", serif;
}
body{
    background-color: whitesmoke;
}
header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 50px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid black;
}
.burguer{
    display: none;
}
.logobox{
    display: flex;
    align-items: center;
}
.logobox img{
    width: 50px;
}
.linksbox{
    display: flex;
    gap: 30px;
    list-style:none;
}
.linknav{
    text-decoration: none;
    color: black;
}
.linknav:hover{
    color: rgb(23, 20, 151);
}
.navcta{
    color: white;
    text-decoration: none;
    background-color: rgb(23, 20, 151);
    padding: 10px;
    border-radius: 200px;
    transition: all ease-out .3s;
}
.navcta:hover{
    background-color: rgb(73, 81, 190);
    
}
.herocontainer{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.h3herotxt{
    text-align: center;
}
.h3herotxt h3{
    display: inline-block;
    
    font-weight: 400;
    font-size: 17px;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 200px;
    box-shadow: 0px 3px 20px 1px pink;
}
.h1herotxt h1{
    font-size: 60px;
    font-weight: 400;
    font-family: "Hubot Sans", sans-serif;

    font-style: normal;
    color: rgb(48, 39, 39);
    margin-top: 20px;
}
.pherotxt p{
    padding: 0 300px;
    margin-top: 20px;
    color: rgb(160, 153, 153);
    font-weight: 500;
}
.herocta{
    background-color: rgb(23, 20, 151);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 200px;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: all ease-out .3s;
}
.herocta:hover{
    background-color: lightskyblue;
}
.cardshero{
    width: 300px;

    text-align: center;
}
.cardshero img{
    width: 100px;
}
.cartasdehero{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
    background-color: rgb(221, 215, 215);
}
.cardsherotxt h2{
    font-weight: 300;
}
.aboutusconteinerall{
    width: 100%;
    padding: 50px 0;
   background-color: aliceblue;
}
.h5abouttxt{
    text-align: center;
}
.h5abouttxt h5{
    color: lightskyblue;
    font-size: 17px;
    font-weight: 400;
}
.h1abouttxt{
    text-align: center;
}
.aboutcontent{
    width: 70%;
    margin: auto;
  
}
.imgaboutbox{
    width: 50%;
}
.imgaboutbox img{
    width: 100%;
}
.txtaboutbox{
    width: 50%;
}
.aboutlitlecard{
    background-color: antiquewhite;
    width: 50%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}
.aboutlitlecard h6{
    font-size: 18px;
    font-weight: 300;
}
.txtimgbox{
    display: flex;
    align-items: center;
}
.aboutcard img{
    width: 70px;
}
.cardsonabout{
    display: flex;
    gap: 10px;
}
.h1abouttxtinp{
    background-image: linear-gradient(90deg, orchid, rgb(255, 74, 104));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
    position: relative;
}
.cajadeservices{
    display: flex;
    gap: 10px;
}
.caja1services{
    width: 50%;
    background-image: linear-gradient(45deg, rgb(255, 236, 240), rgb(252, 194, 204));
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.caja2services{
    width: 50%;
    background-image: linear-gradient(90deg, rgb(255, 202, 253), rgb(233, 177, 231) );
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 10px;
}
.caja3services{
    background-image: linear-gradient(90deg, rgb(212, 238, 255), rgb(167, 218, 250));
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.servconteinerall{
    padding: 50px 0;

    width: 70%;
    margin: auto;
}
.servtxth1{
    padding-bottom: 30px;
}
.servtxth1 h1{
    background-image: linear-gradient(90deg, rgb(59, 162, 226), violet);
    display: inline-block;
    color: white;
    border-radius: 200px;
    padding: 10px;
}
footer{
    background-color: rgb(20, 19, 19);
    text-align: center;
    padding: 50px 0;
}
footer img{
    width: 150px;
}
footer p{
    color: white;
}
footer h4{
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 220px;
    margin-top: 20px;
    animation: nosexd 4s ease-out infinite;
}
@keyframes nosexd{
    50%{background-color: antiquewhite;}
}

.wasaplogo{
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: lightgreen;
    border-radius: 100%;
    transition: all ease-out .3s;
    animation: wasapflota 4s ease-out infinite;
}
@keyframes wasapflota {
    50%{
        transform: translateY(20px);
    }
}
.wasaplogo:hover{
    background-color: rgb(173, 243, 173);
}
.wasaplogo img{
    width: 50px;
}












@media (max-width: 480px) {
    .linknav{
        display: none;
    }
    header{
        padding: 0;
    }
    .logobox{

    }
    .logobox img{
        width: 30px;
    }
    .logobox h1{
        font-size: 30px;
    }
    .h1herotxt h1{
        font-size: 40px;
    }
    .pherotxt p{
        padding: 0 10px;
    }
    .cartasdehero{
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .cardshero{
        width: 100%;
    }
    .txtimgbox{
        display: flex;
        flex-direction: column;
    }
    .imgaboutbox{
        width: 100%;
    }
    .txtaboutbox{
        width: 100%;
        padding: 0 10px;
    }
    .aboutcontent{
        width: 100%;
    }
    .cardsonabout{
        display: flex;
        flex-direction: column;
        
    }
    .aboutlitlecard{
        width: 100%;
    }
    .cajadeservices{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .caja1services{
        width: 100%;
    }
    .caja2services{
        width: 100%;
    }
    .caja3services{
        width: 100%;
    }
    .servconteinerall{
        width: 100%;
        padding: 50px 10px;
        
    }
    .navcta{
        font-size: 13px;
    }
}